// How to style <select> elements:
// https://una.im/select-updates/

// Enter custom mode with `appearance: base-select`.
.native_select,
::picker(select) {
  appearance: base-select;
  // appearance: menulist-button;
}

// The CSS pseudo-element `::select-fallback-button` was part of an earlier proposal for styling <select> elements but has since been removed from the specification. 
// To customize the appearance of the <select> element's button area, you should apply styles directly to the <select> element itself after setting its appearance to base-select.
.native_select {
  width: 100%;
  border: none;
  // border-width: var(--border-width);
  // border-style: var(--border-style);
  border-radius: var(--radius);
  outline-width: var(--outline-width);
  outline-style: var(--outline-style);
  // TODO: Should I use something like `outline-color: ${getElementColors(colors).ol}` for this or keep it simple and give all the elements the same styles without any customization? That would be the easiest and probably the best option because it would keep the code simpler, which is always good.
  outline-color: transparent;
  background-color: var(--element-bg);
  color: var(--element-fg);
  // TODO: Should I use something like `${getElementSizes(sizes).all}` so I can customize the size? I probably should.
  padding: 5px 10px;
  cursor: pointer;

  &::picker-icon {
    display: none;
  }

  &:hover, &:focus {
    outline-color: var(--outline-color);
    // outline-width: var(--outline-width);
    // outline-offset: var(--outline-offset);
  }

  // Disabled styles
  &:disabled,
  &[aria-disabled="true"] {
    // It looks like browsers dim the colors of <select> elements by about 10%, so these styles try to accomodate for that. The `white: 100%` is not a typo.
    background-color: color-mix(in srgb, black 10%, var(--element-bg-disabled)) !important;
    border-color: color-mix(in srgb, black 10%, var(--element-border-color-disabled)) !important;
    color: color-mix(in srgb, white 100%, var(--element-text-color-disabled)) !important;
    pointer-events: none;
  }

  .select_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    background: white;
    border: 2px solid transparent;
    transition: border 0.3s ease;
  }

  &:open {
    border-color: #8A2BE2;
  }
}

// Style the picker dropdown.
::picker(select) {
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-radius: var(--radius);
  width: 50%;
}

.native_optgroup {
  font-weight: bold;
}

// Style the options.
.native_option {
  padding: 0.5rem;
  font-size: 1rem;
}

// Style selected option in the dropdown.
.native_option:checked {
  background: var(--neutral-4);
}

// Style the option on hover or focus.
.native_option:hover,
.native_option:focus-visible {
  background-color: var(--neutral-2);
}

// Style the active option indicator.
.native_option::before {
  content: '';
  // font-size: 80%;
  // margin-right: 0.5rem;
}
