// Refer to this article for ideas on styling <select> elements:
// https://una.im/select-updates/

@include bp($from: xs-min) {
  .select_root {

    .select_button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--size-3);
      width: 100%;
      background-color: var(--element-bg);
      color: var(--element-fg);
      border: var(--border);
      border-radius: var(--radius);
      outline-width: var(--outline-none);
      outline-style: var(--outline-style);
      outline-color: var(--outline-color);
      outline-offset: var(--outline-offset);

      &:hover, &:focus {
        outline-width: var(--outline-width);
      }

      .select_button_arrow {
        font-size: 1.5rem;
        line-height: 0;
        transform: rotate(90deg);
      }
    }

    .select_content {
      background-color: var(--white);
      padding: 0;
      border-radius: var(--radius);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      min-width: 300px;
      max-width: calc(100vw - 20px);
      // Logic: Shrink to fit content, but cap at screen height - 20px
      max-height: calc(100vh - 20px);
      // animation: scaleIn 0.3s ease-out;
      // Animated fade in / fade out:
      // 1. The "Hidden" state (Default)
      opacity: 0;
      transform: translateY(-20px) scale(0.95);
      transition: 
        opacity 0.3s ease,
        transform 0.3s ease,
        display 0.3s ease allow-discrete; // Essential for display toggle

      // 2. The "Open" state
      &:popover-open {
        display: block; // Or your preferred layout when open
        margin: auto; // Centers the popover if it's a modal
        opacity: 1;
        transform: translateY(0) scale(1);   
      }

      // 3. The "Starting" state (The magic for entrance animation)
      @starting-style {
        &:popover-open {
          opacity: 0;
          transform: translateY(-20px) scale(0.95);
        }
      }

      // 4. The Backdrop animation
      &::backdrop {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
        transition: 
          display 0.3s allow-discrete, 
          overlay 0.3s allow-discrete, 
          background-color 0.3s,
          backdrop-filter 0.3s;
      }

      &:popover-open::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(1px);
      }

      @starting-style {
        &:popover-open::backdrop {
          background-color: rgba(0, 0, 0, 0);
          backdrop-filter: blur(0px);
        }
      }
      
      .opt_group {
    
        .opt_group_label {
          padding: var(--size-3);
          font-weight: bold;
          text-transform: uppercase;
          border-top: 1px solid var(--border-color);
          border-bottom: 1px solid var(--border-color);
          background-color: var(--neutral-2);
        }
      }

      .select_item {
        border-bottom: 1px solid var(--border-color);

        &:last-child {
          border-bottom: none;
        }
        
        .select_option {
          width: 100%;
          display: flex;
          align-items: center;
          gap: var(--size-3);
          text-align: left;
          padding: var(--size-3);

          &::before {
            content: "\2714";
            color: transparent;
          }
        
          &:hover {
            background-color: var(--neutral-3);
          }

          &.has_opt_group_label {
            padding-left: 20px;
          }

          &.selected_option {
            background-color: var(--primary-bg);
            color: var(--primary-fg);

            &::before {
              color: var(--primary-fg);
            }
          }
        }
      }
    }
  }
}

@include bp($from: lg-min) {
  .select_root {

    .select_content {
      max-width: 950px;
    }
  }
}
