.select_root {
  position: relative;
  // display: inline-block;
  // display: flex;
  // flex-direction: column;

  .select_trigger {
    // position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 8px 12px; 
    border: 1px solid #ccc; 
    border-radius: var(--radius);
    background: var(--white);
    cursor: pointer;
    // min-width: 200px;

    .select_trigger_arrow {
      // margin-left: 10px;
      opacity: 0.5;
    }
  }

  .select_content {
    position: absolute;
    top: 0;
    left: 0;
    // margin: 4px 0 0 0;
    // margin: 0 auto;
    padding: 0;
    border: 1px solid #ddd; 
    border-radius: 4px; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    // width: 100%;
    // min-width: 200px; 
    background: white;
    
    .select_group {
  
      .select_group_label {
        padding: 8px 12px;
        font-size: 0.75rem;
        font-weight: bold;
        color: #666;
        text-transform: uppercase;
      }

      .select_item_wrapper {
        
        .select_option {
          width: 100%;
          text-align: left;
          padding: 10px;
        
          &:hover {
            background-color: gray;
          }
        }
      }
    }
  }
}
