// Refer to this article for ideas on styling <select> elements:
// https://una.im/select-updates/

// @keyframes fadeIn {
//   from { opacity: 0; }
//   to { opacity: 1; }
// }

@keyframes scaleIn {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@include bp($from: xs-min) {
  .select_root {

    .select_button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--size-3);
      width: 100%;
      background-color: var(--element-bg);
      color: var(--element-fg);
      border: none;
      border-radius: var(--radius);
      outline-width: var(--outline-width);
      outline-style: var(--outline-style);
      outline-color: transparent;

      &:hover, &:focus {
        outline-color: var(--outline-color);
      }

      .select_button_arrow {
        font-size: 1.5rem;
        line-height: 0;
        transform: rotate(90deg);
      }
    }

    .select_content {
      background-color: var(--white);
      padding: 0;
      border-radius: var(--radius);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      min-width: 300px;
      max-width: calc(100vw - 20px);
      // Logic: Shrink to fit content, but cap at screen height - 20px
      max-height: calc(100vh - 20px);
      animation: scaleIn 0.3s ease-out;

      &:popover-open {
        display: block; // Or your preferred layout when open
        margin: auto;   // Centers the popover if it's a modal
      }

      &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(1px);
      }
      
      .opt_group {
    
        .opt_group_label {
          padding: var(--size-3);
          font-weight: bold;
          text-transform: uppercase;
          border-top: 1px solid var(--border-color);
          border-bottom: 1px solid var(--border-color);
          background-color: var(--neutral-2);
        }
      }

      .select_item {
        border-bottom: 1px solid var(--border-color);

        &:last-child {
          border-bottom: none;
        }
        
        .select_option {
          width: 100%;
          display: flex;
          align-items: center;
          gap: var(--size-3);
          text-align: left;
          padding: var(--size-3);

          &::before {
            content: "\2714";
            color: transparent;
          }
        
          &:hover {
            background-color: var(--neutral-3);
          }

          &.has_opt_group_label {
            padding-left: 20px;
          }

          &.selected_option {
            background-color: var(--primary-bg);
            color: var(--primary-fg);

            &::before {
              color: var(--primary-fg);
            }
          }
        }
      }
    }
  }
}

@include bp($from: lg-min) {
  .select_root {

    .select_content {
      max-width: 950px;
    }
  }
}
