.select_root {
  // position: relative;
  // display: inline-block;
  // display: flex;
  // flex-direction: column;

  .select_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
    background-color: var(--element-bg);
    color: var(--element-fg);
    border: none;
    border-radius: var(--radius);
    outline-width: var(--outline-width);
    outline-style: var(--outline-style);
    outline-color: transparent;

    &:hover, &:focus {
      outline-color: var(--outline-color);
    }

    .select_button_arrow {
      font-size: 1.5rem;
      line-height: 0;
      transform: rotate(90deg);
    }
  }

  // The dark overlay
  .select_overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s ease-out;

    .select_content {
      background-color: var(--white);
      border-radius: var(--radius);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      max-width: 950px;
      display: flex;
      flex-direction: column;
      // Logic: Shrink to fit content, but cap at screen height - 20px
      max-height: calc(100vh - 20px);
      animation: scaleIn 0.3s ease-out;

      // top: 0;
      // left: 0;
      // // margin: 4px 0 0 0;
      // // margin: 0 auto;
      // padding: 0;
      // border: 1px solid #ddd; 
      // border-radius: 4px; 
      // box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      // // width: 100%;
      // // min-width: 200px; 
      // background: white;
      
      .opt_group {
    
        .opt_group_label {
          padding: 8px 12px;
          // font-size: 0.75rem;
          font-weight: bold;
          // color: #666;
          text-transform: uppercase;
        }

        .select_item {
          
          .select_option {
            width: 100%;
            text-align: left;
            padding: 10px;
            padding-left: 25px;
          
            &:hover {
              background-color: var(--neutral-3);
            }
          }
        }
      }
    }
  }
}
