# TODO: Replace Kinde Auth with Hanko (https://www.hanko.io/)


# -------------------
# .env - These environment variables will be used in all environments.
# -------------------
KINDE_SUBDOMAIN = "https://financialwreck.kinde.com"
KINDE_CLIENT_ID = "client-id" # Set as an encrypted value in Render's environment variable storage.
KINDE_CLIENT_SECRET = "client-secret" # Set as an encrypted value in Render's environment variable storage.


# -------------------
# .env.development
# In addition to the environment variables from the .env file, these env vars will also be used in the development environment.
# -------------------
FALKOR_HOST = "string"
FALKOR_PORT = number
FALKOR_USERNAME = "string"
FALKOR_PASSWORD = "string"
FALKOR_GRAPH = "string"

KINDE_REDIRECT_URL = "http://localhost:5000/api/auth/callback"
KINDE_LOGOUT_REDIRECT_URL = "http://localhost:5000"

# Use a random key generator, like this one: https://randomkeygen.com/. Use the keys/secrets that satisfy the 256-bit (32 ASCII character) key/secret requirement.
# Set these keys/secrets as encrypted values in Render's environment variable storage.
IRON_ENCRYPTION_SECRET = "a_different_encryption_secret_for_this_environment_that_is_at_least_32_characters" 
COOKIE_SIGNING_SECRET = "a_different_signing_secret_for_this_environment_that_is_at_least_32_characters"


# -------------------
# .env.staging
# In addition to the environment variables from the .env file, these env vars will also be used in the staging environment.
# -------------------
# Each of these need to be Set as an encrypted value in Render's environment variable storage.
FALKOR_HOST = "string"
FALKOR_PORT = number
FALKOR_USERNAME = "string"
FALKOR_PASSWORD = "string"
FALKOR_GRAPH = "string"

KINDE_REDIRECT_URL = "https://staging-app.financialwreck.com/api/auth/callback"
KINDE_LOGOUT_REDIRECT_URL = "https://staging-app.financialwreck.com"

# See my notes for these variables under the .env.development section.
IRON_ENCRYPTION_SECRET = "a_different_encryption_secret_for_this_environment_that_is_at_least_32_characters" 
COOKIE_SIGNING_SECRET = "a_different_signing_secret_for_this_environment_that_is_at_least_32_characters"


# -------------------
# .env.production
# In addition to the environment variables from the .env file, these env vars will also be used in the production environment.
# -------------------
# Each of these need to be Set as an encrypted value in Render's environment variable storage.
FALKOR_HOST = "string"
FALKOR_PORT = number
FALKOR_USERNAME = "string"
FALKOR_PASSWORD = "string"
FALKOR_GRAPH = "string"

KINDE_REDIRECT_URL = "https://app.financialwreck.com/api/auth/callback"
KINDE_LOGOUT_REDIRECT_URL = "https://app.financialwreck.com"

# See my notes for these variables under the .env.development section.
IRON_ENCRYPTION_SECRET = "a_different_encryption_secret_for_this_environment_that_is_at_least_32_characters" 
COOKIE_SIGNING_SECRET = "a_different_signing_secret_for_this_environment_that_is_at_least_32_characters"
