.h1_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: var(--size-1);
  border-bottom: 1px solid var(--text-color);
  margin-bottom: var(--size-2);

  .h1 {
    margin: 0;
  }
}

.al_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: var(--size-1);
  border-bottom: 1px solid var(--text-color);

  .h2 {
    margin: 0;
  }

  .btns_container {
    display: flex;
    gap: var(--size-2);
  }
}
