@include bp($from: xs-min) {
  .page {
    @include res(standard) {
      background-image: url("/images/car-wreck.png");
      // background-image: url("/images/res-standard/bg-image-768x800.webp");
    }
    @include res(high) {
      background-image: url("/images/car-wreck.png");
      // background-image: url("/images/res-high/bg-image-1536x1600.webp");
    }
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .content_container {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px;
      background-color: $secondary-bg;
      /* background-color is --secondary-bg with transparency. */
      background-color: rgba($secondary-bg, 0.85);

      .logo_container {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        .logo {
          width: 300px;
        }
      }

      .title_container {
        margin-bottom: 20px;

        h1 {
          font-family: $sans-serif;
          font-weight: 300;
          text-align: center;
          font-size: 2rem;
          color: $white;
        }
      }

      .btns_container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .auth_btns {
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-bottom: 60px;

          color: $white;
        }

        // div {
        //   width: 100%;
        //   max-width: 350px;
        // }

        // .desktop_btn {
        //   display: none;
        // }
      }
    }
  }
}

// @include bp($from: md-min) {
//   .page {
//     @include res(standard) {
//       background-image: url("/images/res-standard/bg-image-1280x1280.webp");
//     }
//     @include res(high) {
//       background-image: url("/images/res-high/bg-image-2560x2560.webp");
//     }
//     height: 75vh;
//   }
// }

// TODO: Should I create a new breakpoint range for iPad Pro that will handle background images for an iPad Pro either in protrait or landscape orientation? The breakpoints and media queries would probably look like the following example. Would this even work for iPad Pros to download the correct images or would it get overridden by other breakpoints?
// The image would be a 2x image for the screen size. How should I handle the orientation? Should I create other media queries that target different orientations so I can properly position the background image where it needs to be?
// TODO: I should probably consider a similar approach for background images for each of the xs, md, and xl breakpoints. The dimensions of the 2x images need to be based on the widest possible width for each breakpoint.
// ipad-pro-min: 1024px,
// ipad-pro-max: 1366px,
// @include bp($from: ipad-pro-min, $until: ipad-pro-max) {
//   .page {
//     @include res(high) {
//       background-image: url("/images/res-high/bg-image-2732x2048.webp");
//     }
//   }
// }

// @include bp($from: xl-min) {
//   .page {
//     @include res(standard) {  
//       background-image: url("/images/res-standard/bg-image-2048x1080.webp");
//     }
//     @include res(high) {
//       background-image: url("/images/res-high/bg-image-4096x2160.webp");
//     }
//     height: 50vh;
//   }
// }
