@include mq($from: xs-min) {
  .page {
    min-height: 100vh;
    background-image: url("/images/car-wreck.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .content_container {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px;
      background-color: var(--secondary-bg);
      /* background-color is --secondary-bg with transparency. */
      background-color: rgba(58, 47, 56, 0.85);

      .logo_container {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        .logo {
          width: 300px;
        }
      }

      .title_container {
        margin-bottom: 20px;

        h1 {
          font-family: var(--sans-serif);
          font-weight: 300;
          text-align: center;
          font-size: 2rem;
          color: var(--white);
        }
      }

      .btns_container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .auth_btns {
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-bottom: 60px;

          color: var(--white);
        }

        // div {
        //   width: 100%;
        //   max-width: 350px;
        // }

        // .desktop_btn {
        //   display: none;
        // }
      }
    }
  }
}

@include mq($from: md-min) {
  .page {
    background-image: url("/android-chrome-512x512.png");
  }
}
