.btn {
  border-width: var(--border-width);
  border-style:  var(--border-style);
  outline-width: var(--outline-none);
  outline-style: var(--outline-style);
  outline-offset: var(--outline-offset);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center; /* Center the text when the button is full width. */

  &:hover, &:focus {
    outline-width: var(--outline-width);
    // outline-color: blue !important;
  }

  &:disabled {
    pointer-events: none;
    filter: var(--disabled-btn-filter);
  }
}
