@include bp($from: xs-min) {
  .nav_container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .nav_container_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      border-bottom: 2px solid var(--black);
      box-shadow: -1px 2px 3px -2px var(--black);

      .close_menu_btn_container, .spacer {
        display: block;
      }

      .logo-wrapper {

        .logo {
          height: 40px;
        }
      }
    }

    nav {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      padding-right: 0;
      color: var(--white);
      overflow-y: auto;

      ul {
        list-style-type: none;
        font-size: var(--size-5);
        padding: 0;

        li {
          margin: 0;

          a {
            display: block;
            padding: 10px;

            &:hover {
              background-color: var(--neutral-4);
              color: var(--secondary-bg);
            }

            &[aria-current="page"] {
              background-color: var(--neutral-1);
              color: var(--secondary-bg);
            }
          }
        }
      }

      ul.nav_list {
        flex: 1;
      }
    }
  }
}

// @include bp($from: md-min) {

// }

@include bp($from: xl-min) {
  .nav_container {

    .nav_container_header {
      justify-content: center !important;

      .close_menu_btn_container, .spacer {
        display: none !important;
      }

      .logo {
        height: 60px !important;
      }
    }
  }
}
