@include bp($from: xs-min) {
  .mobile_header {
    display: block;
    position: sticky;
    top: 0;
    background-color: var(--secondary-bg);
    z-index: 100;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: var(--lg-max);
      margin: 0 auto;
      padding: 0 15px;
      position: relative;

      .logo-wrapper {
        padding: 10px 0;

        .logo {
          height: 40px;
        }
      }
    }

    // TODO: Move these style rules when I update the HTML.
    ul {
      color: var(--white);
    }
  }
}

// @include bp($from: md-min) {

// }

@include bp($from: xl-min) {
  .mobile_header {
    display: none;
  }
}
