@include bp($from: xs-min) {
  .mobile_header {
    display: block;
    position: sticky;
    top: 0;
    background-color: var(--secondary-bg);
    z-index: 100;
    box-shadow: 0px 0px 5px var(--black);

    .header_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 0 15px;

      .logo-wrapper {
        padding: 10px 0;

        .logo {
          height: 40px;
        }
      }
    }
  }
}

// @include bp($from: md-min) {

// }

@include bp($from: xl-min) {
  .mobile_header {
    display: none;
  }
}
