// Utility for trigger buttons (optional, can be overridden)
.trigger {
  cursor: pointer;
  border-radius: var(--radius);
  outline-width: var(--outline-none);
  outline-style: var(--outline-style);
  outline-color: var(--outline-color);
  outline-offset: var(--outline-offset);

  &:hover, &:focus {
    outline-width: var(--outline-width);
  }
}

// The main container box
.content {
  background-color: var(--white);
  border-radius: var(--radius);
  padding: 0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: calc(100vw - 20px);
  max-width: 950px;
  // Logic: Shrink to fit content, but cap at screen height - 20px
  max-height: calc(100vh - 20px);
  overflow: hidden;
  // animation: scaleIn 0.3s ease-out;
  // Animated fade in / fade out:
  // 1. The "Hidden" state (Default)
  opacity: 0;
  transform: translateY(-20px) scale(0.95);
  transition: 
    opacity 0.3s ease,
    transform 0.3s ease,
    display 0.3s ease allow-discrete; // Essential for display toggle

  // 2. The "Open" state
  &:popover-open {
    display: flex; // Or your preferred layout when open.
    flex-direction: column;
    margin: auto; // Centers the popover if it's a modal.
    opacity: 1;
    transform: translateY(0) scale(1);    
  }

  // 3. The "Starting" state (The magic for entrance animation)
  @starting-style {
    &:popover-open {
      opacity: 0;
      transform: translateY(-20px) scale(0.95);
    }
  }

  // 4. The Backdrop animation
  &::backdrop {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    transition: 
      display 0.3s allow-discrete, 
      overlay 0.3s allow-discrete, 
      background-color 0.3s,
      backdrop-filter 0.3s;
  }

  &:popover-open::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
  }

  @starting-style {
    &:popover-open::backdrop {
      background-color: rgba(0, 0, 0, 0);
      backdrop-filter: blur(0px);
    }
  }
}

// Structural wrappers
.header {
  padding: 15px;
  flex-shrink: 0; // Don't shrink header
}

.title {
  margin: 0;
  font-size: var(--size-6);
}

.description {
  margin: 5px 0 0 0;
  font-size: 0.875rem;
  color: var(--neutral-8)
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  overscroll-behavior: contain; // Underlying elements will not scroll. 
  border-top: var(--border);
  border-bottom: var(--border);
  // Optional: Smooth scrolling.
  scroll-behavior: smooth;
}

.footer {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  gap: var(--size-3);
  flex-shrink: 0; // Don't shrink footer
}

.dialog_close {
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-radius: var(--radius);
  outline-width: var(--outline-none);
  outline-style: var(--outline-style);
  outline-offset: var(--outline-offset);

  &:hover, &:focus {
    outline-width: var(--outline-width);
  }
}
