@use "sass:meta";
@use "sass:string";
@use "sass:math";
@use "sass:map";
@use "sass:list";

// ************************************************************
// BREAKPOINTS MEDIA QUERIES
// The bp() mixin checks screen sizes of output devices

// How to use sass-mq:
// https://github.com/sass-mq/sass-mq
// ************************************************************

// ------------------------------------------------------------------------------------------------
// Media Query Breakpoints - Borrowed from Tailwind CSS (https://tailwindcss.com/docs/breakpoints)
// ------------------------------------------------------------------------------------------------
// xsmall: 0px - 639px | Extra small devices (phones, 600px and smaller)
// small  : 640px - 767px | Small devices (portrait tablets and large phones, 601px and larger)
// medium : 768px - 1023px | Medium devices (landscape tablets, 768px and larger)
// large  : 1024px - 1279px | Large devices (laptops/desktops, 993px and larger)
// xlarge: 1280px - 1535px | Extra large devices (large laptops and desktops, 1200px and larger)
// xxlarge: 1536px and larger

// -------------------------------------------------------------------
// For reference, here are the viewport sizes of some common devices:
// -------------------------------------------------------------------
// * iPhone 8: 375px wide x 667px high (xsmall range)
// * iPad (in portrait mode): 768px wide x 1024px high (medium range)
// * iPad Pro (in portrait mode): 1024px wide x 1366px high (large range)
// * Macbook Pro 15": 1440px wide x 900px high (xlarge range)

// NOTES:
// (1) The preferred way to use media queries when creating style rules in your components is to use the bp() mixin to define breakpoints for `xs-min`, `md-min`, and `xl-min`. Then create styles for each of those breakpoints. The `min` and `max` breakpoints are available for situations where you might need to create styles for only one viewport size. For example: @include bp($from: xs-min, $until: md-min) {...}
// (2) To be explicit with your CSS styles, please use the @include `bp($from: xs-min)` mixin to define all base styles in your component. Then use the larger breakpoints to change styles for larger viewports, when necessary. This also helps to give the styles for different breakpoints the same indentation, which makes it is easier to find styles for matching elements at a glance.
// (3) I usually create styles for the xs, md, and xl breakpoints and then use the other breakpoints for special or unique cases.

/// Breakpoint list
///
/// Name your breakpoints in a way that creates a ubiquitous language
/// across team members. It will improve communication between
/// stakeholders, designers, developers, and testers.
///
/// @type Map
/// @link https://github.com/sass-mq/sass-mq#seeing-the-currently-active-breakpoint Full documentation and examples
$breakpoints: (
  xs-min: 0px,
  xs-max: 639px,
  sm-min: 640px,
  sm-max: 767px,
  md-min: 768px,
  md-max: 1023px,
  lg-min: 1024px,
  lg-max: 1279px,
  xl-min: 1280px,
  xl-max: 1535px,
  xxl-min: 1536px,
) !default;

/// Show breakpoints in the top right corner
///
/// If you want to display the currently active breakpoint in the top
/// right corner of your site during development, add the breakpoints
/// to this list, ordered by width. For example: (xs-min, md-min, xl-min).
///
/// @example scss
///   @use "path/to/media-queries" with ($show-breakpoints: ("xs-min", "md-min", "xl-min"));
///
///
/// @type map
$show-breakpoints: (
  // xs-min,
  // xs-max,
  // sm-min,
  // sm-max,
  // md-min,
  // md-max,
  // lg-min,
  // lg-max,
  // xl-min,
  // xl-max,
  // xxl-min,
) !default;

/// Customize the media type (for example: `@media screen` or `@media print`)
/// By default sass-mq uses an "all" media type (`@media all and …`)
///
/// If you want to override the media type, you can use this option.
/// @example scss
///   @use "path/to/media-queries" with ($media-type: "screen");
///
/// @type String
/// @link https://github.com/sass-mq/sass-mq#changing-media-type Full documentation and example
$media-type: all !default;

/// Convert pixels to ems
///
/// @param {Number} $px - value to convert
///
/// @example scss
///  $font-size-in-ems: px2em(16px);
///  p { font-size: px2em(16px); }
///
/// @returns {Number}

@function px2em($px) {
  @if math.is-unitless($px) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels.";
    @return px2em($px * 1px);
  }
  // if $px is compatible with em units, then return value unchanged
  @if math.compatible($px, 1em) {
    @return $px;
  }
  @return math.div($px, 16px) * 1em;
}

/// Get a breakpoint's width
///
/// @param {String} $name - Name of the breakpoint. One of $breakpoints
///
/// @example scss
///  $md-min-width: get-breakpoint-width(md-min);
///  @media (min-width: get-breakpoint-width(md-min)) {}
///
/// @requires {Variable} $breakpoints
///
/// @returns {Number} Value in pixels
@function get-breakpoint-width($name, $breakpoints: $breakpoints) {
  @if map.has-key($breakpoints, $name) {
    @return map.get($breakpoints, $name);
  } @else {
    @warn "Breakpoint #{$name} wasn't found in $breakpoints.";
    @return null;
  }
}

/// Media Query mixin
///
/// @param {String | Boolean} $from [false] - One of $breakpoints
/// @param {String | Boolean} $until [false] - One of $breakpoints
/// @param {String | Boolean} $and [false] - Additional media query parameters
/// @param {String} $media-type [$media-type] - Media type: screen, print…
///
/// @ignore Undocumented API, for advanced use only:
/// @ignore @param {Map} $breakpoints [$breakpoints]
///
/// @content styling rules, wrapped into a @media query when $responsive is true
///
/// @requires {Variable} $media-type
/// @requires {Variable} $breakpoints
/// @requires {function} px2em
/// @requires {function} get-breakpoint-width
///
/// @link https://github.com/sass-mq/sass-mq#responsive-mode-on-default Full documentation and examples
///
/// @example scss
///  @use "path/to/media-queries" as *;
/// 
///  .element {
///    @include bp($from: xs-min) {
///      color: red;
///    }
///    @include bp($until: md-min) {
///      color: blue;
///    }
///    @include bp($from: xs-min, $until: md-min) {
///      color: purple;
///    }
///    @include bp(xs-min, md-min) {
///      color: green;
///    }
///    @include bp($from: md-min, $and: "(orientation: landscape)") {
///      color: teal;
///    }
///    @include bp(950px) {
///      color: hotpink;
///    }
///    @include bp(md-min, $media-type: screen) {
///      color: hotpink;
///    }
///    // Advanced use:
///    $my-breakpoints: (L: 900px, XL: 1200px);
///    @include bp(L, $breakpoints: $my-breakpoints) {
///      color: hotpink;
///    }
///  }
@mixin bp(
  $from: false,
  $until: false,
  $and: false,
  $media-type: $media-type,
  $breakpoints: $breakpoints
) {
  $min-width: 0;
  $max-width: 0;
  $media-query: "";

  // From: this breakpoint (inclusive)
  @if $from {
    @if meta.type-of($from) == number {
      $min-width: px2em($from);
    } @else {
      $min-width: px2em(get-breakpoint-width($from, $breakpoints));
    }
  }

  // Until: that breakpoint (exclusive)
  @if $until {
    @if meta.type-of($until) == number {
      $max-width: px2em($until);
    } @else {
      $max-width: px2em(get-breakpoint-width($until, $breakpoints)) - 0.01em;
    }
  }

  @if $min-width != 0 {
    $media-query: "#{$media-query} and (min-width: #{$min-width})";
  }
  @if $max-width != 0 {
    $media-query: "#{$media-query} and (max-width: #{$max-width})";
  }
  @if $and {
    $media-query: "#{$media-query} and #{$and}";
  }

  // Remove unnecessary media query prefix "all and "
  @if ($media-type == "all" and $media-query != "") {
    $media-type: "";
    $media-query: string.slice(string.unquote($media-query), 6);
  }

  @media #{$media-type + $media-query} {
    @content;
  }
}

/// Quick sort
///
/// @author Sam Richards
/// @access private
/// @param {List} $list - List to sort
/// @returns {List} Sorted List
@function _quick-sort($list) {
  $less: ();
  $equal: ();
  $large: ();

  @if list.length($list) > 1 {
    $seed: list.nth($list, math.ceil(math.div(list.length($list), 2)));

    @each $item in $list {
      @if ($item == $seed) {
        $equal: list.append($equal, $item);
      } @else if ($item < $seed) {
        $less: list.append($less, $item);
      } @else if ($item > $seed) {
        $large: list.append($large, $item);
      }
    }

    @return list.join(list.join(_quick-sort($less), $equal), _quick-sort($large));
  }

  @return $list;
}

/// Sort a map by values (works with numbers only)
///
/// @access private
/// @param {Map} $map - Map to sort
/// @returns {Map} Map sorted by value
@function _map-sort-by-value($map) {
  $map-sorted: ();
  $map-keys: map.keys($map);
  $map-values: map.values($map);
  $map-values-sorted: _quick-sort($map-values);

  // Reorder key/value pairs based on key values
  @each $value in $map-values-sorted {
    $index: list.index($map-values, $value);
    $key: list.nth($map-keys, $index);
    $map-sorted: map.merge(
      $map-sorted,
      (
        $key: $value,
      )
    );

    // Unset the value in $map-values to prevent the loop
    // from finding the same index twice
    $map-values: list.set-nth($map-values, $index, 0);
  }

  @return $map-sorted;
}

/// Add a breakpoint
///
/// @param {String} $name - Name of the breakpoint
/// @param {Number} $width - Width of the breakpoint
///
/// @requires {Variable} $breakpoints
///
/// @example scss
///  @include add-breakpoint(tvscreen, 1920px);
///  @include bp(tvscreen) {}
@mixin add-breakpoint($name, $width) {
  $new-breakpoint: (
    $name: $width,
  );
  $breakpoints: map.merge($breakpoints, $new-breakpoint) !global;
  $breakpoints: _map-sort-by-value($breakpoints) !global;
}

/// Show the active breakpoint in the top right corner of the viewport
/// @link https://github.com/sass-mq/sass-mq#seeing-the-currently-active-breakpoint
///
/// @param {List} $show-breakpoints [$show-breakpoints] - List of breakpoints to show in the top right corner
/// @param {Map} $breakpoints [$breakpoints] - Breakpoint names and sizes
///
/// @requires {Variable} $breakpoints
/// @requires {Variable} $show-breakpoints
///
/// @example scss
///  // Show breakpoints using global settings
///  @include show-breakpoints;
///
///  // Show breakpoints using custom settings
///  @include show-breakpoints((L, XL), (S: 300px, L: 800px, XL: 1200px));
@mixin show-breakpoints(
  $show-breakpoints: $show-breakpoints,
  $breakpoints: $breakpoints
) {
  body:before {
    background-color: #fcf8e3;
    border-bottom: 1px solid #fbeed5;
    border-left: 1px solid #fbeed5;
    color: #c09853;
    font: small-caption;
    padding: 3px 6px;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    // Loop through the breakpoints that should be shown
    @each $show-breakpoint in $show-breakpoints {
      $width: get-breakpoint-width($show-breakpoint, $breakpoints);
      @include bp($show-breakpoint, $breakpoints: $breakpoints) {
        content: "#{$show-breakpoint} ≥ #{$width} (#{px2em($width)})";
      }
    }
  }
}

@if list.length($show-breakpoints) > 0 {
  @include show-breakpoints;
}


// ************************************************************
// RESOLUTIONS MEDIA QUERIES
// The res() Mixin - checks pixel densities of output devices
// ************************************************************

// List of allowed resolution values. SCSS does not have enums, but this list acts as an enum.
$resolutions: (standard, high);

@function assert-resolution($value) {
  @if index($resolutions, $value) == null {
    @error "Invalid resolution `#{$value}`. Expected: #{ $resolutions }";
  }
  @return $value;
}

/// res() Mixin - A media query mixin for screen resolutions (i.e. checks pixel densities of output devices).
/// You can use a breakpoint media query in combination with a resolution media query for the `background-image` property so standard displays will download standard resolution images and HiDPI displays (a.k.a. retina displays) will download higher resolution images.
///
/// @param {String} $type - One of $resolutions
/// 
/// @requires {function} assert-resolution
/// 
/// @example scss
///  @use "path/to/media-queries" as *;
///  
///  @include bp($from: xs-min) {
///    .hero-image-container {
///      @include res(standard) {    
///        background-image: url("/images/res-standard/bg-image-768x800.webp");
///      }
///      @include res(high) {
///        background-image: url("/images/res-high/bg-image-1536x1600.webp");
///      }
///      // The rest of your SCSS code goes here...
///      height: 100vh;
///      background-repeat: no-repeat;
///      background-position: center;
///      background-size: cover;
///    }
///  }
/// 
///  @include bp($from: md-min) {
///    .hero-image-container {
///      @include res(standard) {
///        background-image: url("/images/res-standard/bg-image-1280x1280.webp");
///      }
///      @include res(high) {
///        background-image: url("/images/res-high/bg-image-2560x2560.webp");
///      }
///      height: 75vh;
///    }
///  }
/// 
///  @include bp($from: xl-min) {
///    .hero-image-container {
///      @include res(standard) {
///        background-image: url("/images/res-standard/bg-image-2048x1080.webp");
///      }
///      @include res(high) {
///        background-image: url("/images/res-high/bg-image-4096x2160.webp");
///      }
///      height: 50vh;
///    }
///  }
@mixin res($type) {
  $type: assert-resolution($type);

  @if $type == standard {
    @media (max-resolution: 191dpi) {
      @content;
    }
  }
  @else if $type == high {
    @media (min-resolution: 192dpi) {
      @content;
    }
  }
}
