// res() Mixin - checks pixel densities of output devices.

// Configuration map for possible resolutions.
$resolutions: (
  "standard": (max-resolution: 191dpi),
  "high":     (min-resolution: 192dpi)
);

// Helper function (like mq get-breakpoint-width)
@function get-resolution($key) {
  $query: map.get($resolutions, $key);

  @if $query == null {
    @error "Unknown resolution '#{$key}'. Available: #{map.keys($resolutions)}";
  }

  @return $query;
}

/// res() Mixin - A media query mixin for screen resolutions (i.e. checks pixel densities of output devices).
/// You can use a breakpoint media query in combination with a resolution media query for the `background-image` property so standard displays will download standard resolution images and HiDPI displays (a.k.a. retina displays) will download higher resolution images.
///
/// @param {String} $type - One of $resolutions
/// 
/// @requires {function} get-resolution
/// 
/// @example scss
///  @use "path/to/mq-resolutions" as *;
///  
///  @include mq($from: xs-min) {
///    @include res(standard) {
///      .hero-image {
///        background-image: url("/images/res-standard/bg-image-768x800.webp");
///      }
///    }
///    @include res(high) {
///      .hero-image {
///        background-image: url("/images/res-high/bg-image-1536x1600.webp");
///      }
///    }
///  }
/// 
///  @include mq($from: md-min) {
///    @include res(standard) {
///      .hero-image {
///        background-image: url("/images/res-standard/bg-image-1280x1280.webp");
///      }
///    }
///    @include res(high) {
///      .hero-image {
///        background-image: url("/images/res-high/bg-image-2560x2560.webp");
///      }
///    }
///  }
/// 
///  @include mq($from: xl-min) {
///    @include res(standard) {
///      .hero-image {
///        background-image: url("/images/res-standard/bg-image-2048x1080.webp");
///      }
///    }
///    @include res(high) {
///      .hero-image {
///        background-image: url("/images/res-high/bg-image-4096x2160.webp");
///      }
///    }
///  }
@mixin res($type) {
  $resolution-query: get-resolution($type);

  @media #{$resolution-query} {
    @content;
  }
}
